@page "{id:long}"
@model MB.Presentation.Areas.Administrator.Pages.ArticleCategoryManagement.EditModel
@{
    ViewData["Title"] ="Edit Article Category";
}

<div class="card">
    <div class="card-header">
        <h2>Edit Article Category: @Model.ArticleCategory.Title</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ArticleCategory.Id" />
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label asp-for="ArticleCategory.Title" class="control-label">Title:</label>
                            <input asp-for="ArticleCategory.Title" class="form-control" />
                            <span class="text-danger" asp-validation-for="ArticleCategory.Title"> </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Edit" class="btn btn-warning" />
                        <a class="btn btn-dark" asp-page="./List" asp-area="Administrator">Back to list</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    
